params {

  samples = "samples.csv"
  outdir = "results"

  # Included references
  kraken_db   = "${projectDir}/refs/kraken_db"
  viral_fasta = "${projectDir}/refs/core_virome/human.virus.selected.fasta"

  # User-provided host genome
  hg38 = ""

  host_ref = params.hg38

  # Pipeline parameters
  threads = 8
  kraken_taxid = 1
  mapq_minimap2 = 20
  mapq_bowtie2 = 25
}

process {
  executor = "local"
  cpus = params.threads
}