params {

  samples = "samples.csv"
  outdir = "results"

  kraken_db   = "${projectDir}/refs/kraken_db"
  viral_fasta = "${projectDir}/refs/core_virome/human.virus.selected.fasta"

  host_ref = ""

  threads = 8
  kraken_taxid = 1
  mapq_minimap2 = 20
  mapq_bowtie2 = 25
}

process {
  executor = "local"
  cpus = params.threads
  conda = "${projectDir}/environment.yml"
}

conda {
  enabled = true
}

workDir = "work"
